/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
 @import './homepage'; 

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0 !important;
  padding: 0;
}

// .app_header {
//   // background-color: rgb(7,24,38);
//   width: 80%;
//   border: 1px solid red;
// } 