<div class="app_pagination">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li
        class="page-item {{unless this.checkPreviousPage 'disabled'}}"
        {{action this.handlePreviousPage}}
      >
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
          <span>Previous</span>
        </a>
      </li>
      <li
        class="page-item {{unless this.checkNextPage 'disabled'}}"
        {{action this.handleNextPage}}
      >
        <a class="page-link" href="#" aria-label="Next">
          <span>Next</span>
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>