{{! Alert }}
{{#if this.checkErrorMessage}}
  <div class="app_alert">
    <div class="alert alert-danger alert-dismissible show">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        {{on "click" this.errorHandler.clearError}}
      >&times;</button>
      <strong><i class="fa fa-warning"></i></strong>
      {{this.checkErrorMessage}}
    </div>
  </div>
{{/if}}
{{outlet}}